---
layout: default.hbs
title: Getting started
slug: getting-started
lead: "An overview of Bootstrap, how to download and use, basic templates and examples, and more."
---

{{> getting-started/download }}
{{> getting-started/whats-included }}
{{> getting-started/grunt }}
{{> getting-started/template }}
{{> getting-started/examples }}
{{> getting-started/community }}
{{> getting-started/disabling-responsiveness }}

<!-- Cross link to new migration page -->
<div class="bs-callout bs-callout-info" id="migration">
  <h4>Migrating from v2.x to v3.x</h4>
  <p>Looking to migrate from an older version of Bootstrap to v3.x? Check out <a href="../migration">our migration guide</a>.</p>
</div>

{{> getting-started/browser-device-support }}
{{> getting-started/third-party-support }}
{{> getting-started/accessibility }}
{{> getting-started/license }}
{{> getting-started/translations }}
